*{
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;    
}

body{
    margin: 0;
    padding-bottom: 60px;
    font-family: "Space Mono", monospace;
}

a, a:hover, a:visited{
    text-decoration: none;
}

.nav{
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    top: auto;
    background:  #071017;
    color: #ececec;
    padding: 0.5rem 1rem;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}

.nav a{
    color: #ececec;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
}

.nav a:hover{
    transition: color 0.4s;
    transition: background 0.6s;
    color: #001520;
    background: rgba(234, 234, 234, 0.9);
    font-weight: bold;

}

.bg-header{
    background: url(../img/bg-img.jpeg) center/cover no-repeat fixed;
    height: 20rem;
    max-width: 100%;
    transition: all 0.4s;
}

@media (min-width: 768px) {
    .nav{
        top: 0;
        bottom: auto;
        justify-content: flex-end;
    }

    .nav a{
        margin: 0 0.5rem;        
    }

    .bg-header{
        height: 27rem;
    }

    .nav-top-txt{
        font-size: 1.3rem;
    }
}