*{
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;    
}

body{
    margin: 0;
    padding-bottom: 60px;
    font-family: "Space Mono", monospace;
}

a, a:hover, a:visited{
    text-decoration: none;
}

.nav{
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    top: auto;
    background:  #071017;
    color: #ececec;
    padding: 0.5rem 1rem;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}

.nav a{
    color: #ececec;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
}

.nav a:hover{
    transition: color 0.4s;
    transition: background 0.6s;
    color: #001520;
    background: rgba(234, 234, 234, 0.9);
    font-weight: bold;

}

.bg-header{
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.5)), url(../img/bg-img.jpeg) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20rem;
    max-width: 100%;
    font-size: 1.3em;
    transition: all 0.4s;
}

.bg-header-txt{
    padding-left: 2rem;    
}

.header-txt{
    color:#ececec;
    padding: 0.3rem 0;
}

.bg-picture{
    width: 12rem;
    height: 12rem;
    background-image: url(../img/p-picture.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6rem;
}

.content{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.presentation, .projects, .social-media{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 1.5rem;
    transition: all 0.3s;
    padding: 1rem;
}

.txt-hed{
    margin: 2rem 0;
    font-size: 1.5rem;
    font-weight: 800;
}

.me , .projects-content p:nth-child(2){
    color: #313131;
}

.me p:nth-child(3){
    margin-top: 0.6rem;
}

.me p:nth-child(1), .me p:nth-child(2){
    font-weight: 600;
}
.skills{
    margin-top: 5rem;
}

.skills-list{
    padding-left: 0.5rem;
}

.skills-list  p{
    padding-left: 1rem;
}

.st-row, .nd-row{
    display: flex;
    justify-content: space-evenly;
}    

.nd-row{
    margin-bottom: 2rem;
}

.projects, .contact{
    font-size: 1.3rem;
}

.projects-content{
    text-align: center;
}

.projects-content img{
    width: 100%;
    height: auto;
}

.footer{
    text-align: center;
    color: #4F4F4F;
    line-height: 1rem;
    font-size: 0.8rem;
}

.social-media{
    text-align: center;
}

@media (min-width: 768px) {
    .nav{
        top: 0;
        bottom: auto;
        justify-content: flex-end;
    }

    .nav a{
        margin: 0 0.5rem;        
    }

    .bg-header-txt{
        padding-left: 4rem;    
    }

    .bg-header{
        flex-direction: row;
        height: 27rem;
        font-size: 3rem;
    }

    .nav-top-txt{
        font-size: 1.3rem;
    }

    .bg-picture{
        width: 14rem;
        height: 14rem;
        border-radius: 7rem;
        margin-top: 3rem;
    }

    .content{
        display: flex;
        flex-direction: row;
    }

    .presentation{
        width: 35%;
        margin-right: 1rem;
    }

    /*.st-row, .nd-row{
        display: flex;
        flex-direction: column;
    }*/
    
    .nd-row{
        margin-top: 1rem;
    }

    .htm, .cs, .js, .vs, .sq{
        display: flex;
        align-items: center;
        font-size: 1.7rem;
    }

    .projects, .presentation, .social-media{
        box-shadow: none;
    }

    .projects-content img{
        width: 50%;
    }

    .contact{
        width: 25%;
        margin-left: 1rem;
    }

    /*.projects-content img{
        width: 100%;
        height: auto;
    }*/

    .social-media{
        text-align: center;
    }
}